Dockerfile
.dockerignore

auth-service/node_modules
auth-service/npm-debug.log
auth-service/dist

api-gateway/node_modules
api-gateway/npm-debug.log
api-gateway/dist

account-service/node_modules
account-service/npm-debug.log
account-service/dist

statement-service/node_modules
statement-service/npm-debug.log
statement-service/dist
